.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 768px;
}

.agreementSection {
    margin: 24px 0 24px 0;
}
.agreementSection input {
    margin-right: 10px;
}

.checkbox {
    accent-color: #7A40F2;
    transform: scale(1.5);
}

.button {
    color: #FFFFFF;
    background: #3B3A48;
    font-size: 18px;
    font-weight: bold;
    width: 240px;
    height: 70px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    line-height: 70px;
}

.disabled {
    background: lightgray;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        text-align: center;
        height: 200px;
        min-width: 0;
    }
    .button {
        width: 100vw;
        height: 54px;
        line-height: 54px;
        border-radius: 0;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

