.container {
    margin-top: 16px;
    padding: 24px;
    border: 2px solid #E6E9EC;
    border-radius: 12px;
}

.upperSection {
    border-bottom: 2px dashed #E6E9EC;
}

.title {
    display: flex;
    gap: 8px;
    font-size: 20px;
    font-weight: bold;
}

.index {
    color: #FFFFFF;
    background: #7A40F2;
    width: 24px;
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
    text-align: center;
}

.details {
    margin-left: 30px;
    line-height: 30px;
    margin-bottom: 16px;
}

.badge {
    background: #6B7280;
    color:#FFFFFF;
    font-size: 14px;
    font-weight: bold;
    border-radius: 12px;
    width: 56px;
    height: 23px;
    line-height: 23px;
    text-align: center;
}

.lowerSection {
    margin-top: 16px;
}

.lowerSection div {
    display: flex;
    align-items: center;
    line-height: 35px;
}

.icon {
    margin-right: 16px;
}