.container {
    background: #F5F5F5;
    font-size: 16px;
    padding: 32px;
    width: 100%;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.title {
}

.detailsContainer {
    width: 1024px;
    background: #FFFFFF;
    padding: 16px;
    border-radius: 12px;
}

.infoContainer {
    display: flex;
    font-size: 18px;
    line-height: 40px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.infoTextWrapper {
    width: 50%;
    display: flex;
}

.infoTextWrapper strong {
    width: 180px
}
