.container {
    background: #F5F5F5;
    font-size: 16px;
    padding: 32px;
    width: 100%;
}

.title {
}

.detailsContainer {
    width: 1024px;
    background: #FFFFFF;
    padding: 16px;
    border-radius: 12px;
}

.infoContainer {
    display: flex;
    font-size: 18px;
    line-height: 40px;
    flex-wrap: wrap;
}

.infoTextWrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
